    <div class="container">
        <h3>Book Appointment</h3>
        <form action="">
            <div class="mb-3 mt-3">
            <label for="Name" class="form-label">Name:</label>
            <input type="Name" class="form-control" id="Name" placeholder="Enter Name" name="Name">
          </div>
          <div class="mb-3">
            <label for="Mobile" class="form-label">Mobile:</label>
            <input type="Mobile" class="form-control" id="Mobile" placeholder="Enter Mobile" name="Mobile">
          </div>
          <div class="mb-3">
            <label for="Date" class="form-label">Date:</label>
            <input type="date" class="form-control" id="Date" placeholder="Enter Date" name="date">
          </div>
          <div class="mb-3">
            <label for="time" class="form-label">Time:</label>
            <input type="time" class="form-control" id="time" placeholder="Enter time" name="time">
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Book Appointment</button>
        </form>
    </div>
 