<div class="container">
    <h3>Categories</h3>
 
  <div class="container imgd">
    <p>Anarkalis</p>
      <img src="assets/Aashi.jpg" alt=""/>
      <img src="assets/hai.jpg" alt=""/>
      <p>Full Sets</p>
      <img src="assets/F.jpg" alt=""/>
      <img src="assets/qwe.webp" alt=""/>  
        <img src="assets/mnb.jpg" alt=""/>
      <img src="assets/plazo.webp" alt=""/>  
      <p>Kurtis</p> 
       <img src="assets/poi.jpg" alt=""/>
      <img src="assets/zxc.jpg" alt=""/>   
      <p>Unstriched</p>
       <img src="assets/img1.jpg" alt=""/>
      <img src="assets/hi.webp" alt=""/>
  </div>
  </div>